<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.aetherit.kfashion.ws.repository.mapper.kMatching.MatchingUserMapper">
    <resultMap id="MatchingUserResultMap" type="MatchingUser">
        <id property="id"                       column="id" />
        <result property="password"             column="password" />
        <result property="name"                 column="name" />
        <result property="nickName"             column="nickname" />
        <result property="question1"            column="question1" />
        <result property="answer1"              column="answer1" />
        <result property="question2"            column="question2" />
        <result property="answer2"              column="answer2" />
        <result property="question3"            column="question3" />
        <result property="answer3"              column="answer3" />
        <result property="userType"             column="user_type" />
        <result property="isPoll"               column="is_poll" />
        <result property="createdDatetime"      column="created_datetime" />
        <result property="updatedDatetime"      column="updated_datetime" />
    </resultMap>

    <select id="selectUserById" parameterType="String" resultMap="MatchingUserResultMap">
          SELECT id,
                password,
                name,
                user_type,
                is_poll,
                created_datetime,
                updated_datetime
        FROM kmatching_user
        WHERE  id = #{id}
    </select>

    <select id="selectUserByNickName" parameterType="String" resultMap="MatchingUserResultMap">
          SELECT id,
                password,
                name,
                user_type,
                is_poll,
                created_datetime,
                updated_datetime
        FROM kmatching_user
        WHERE  nickname = #{nickName}
    </select>


    <select id="selectUsersWhereType" resultMap="MatchingUserResultMap">
        SELECT  id,
                password,
                name,
                user_type,
                is_poll,
                created_datetime,
                updated_datetime
        FROM kmatching_user
        WHERE user_type = #{userType}
        ORDER BY created_datetime DESC
    </select>

    <insert id="createNewUser" parameterType="MatchingUser">
      INSERT INTO kmatching_user (
                id,
                password,
                name,
                nickname,
                question1,
                answer1,
                question2,
                answer2,
                question3,
                answer3,
                created_datetime,
                updated_datetime
        ) VALUES (
            #{id},
            #{password},
            #{name},
            #{nickName},
            #{question1},
            #{answer1},
            #{question2},
            #{answer2},
            #{question3},
            #{answer3},
            NOW(),
            NOW()
        )
    </insert>

    <update id="changePassword" parameterType="MatchingUser">
        UPDATE kmatching_user SET password = #{password} WHERE id = #{id}
    </update>

    <select id="checkUser" resultType="int" parameterType="MatchingUser">
      select count(id) from kmatching_user
      where id=#{id}
    </select>

    <select id="selectUser" parameterType="String" resultMap="MatchingUserResultMap">
        SELECT
       		    id,
                password,
                name,
                user_type,
                is_poll,
                created_datetime,
                updated_datetime
        FROM   kmatching_user
        WHERE id = #{value}
    </select>

    <select id="selectAdmin" parameterType="String" resultMap="MatchingUserResultMap">
        SELECT
       		    id,
                password,
                name,
                user_type,
                is_poll,
                created_datetime,
                updated_datetime
        FROM   kmatching_user
        WHERE id = #{value}
    </select>
    <select id="findMatchingUser" resultMap="MatchingUserResultMap">
        SELECT *
        FROM  kmatching_user
        WHERE   question1 = #{question1}
        AND     question2 = #{question2}
        AND     question3 = #{question3}
        AND     answer1 = #{answer1}
        AND     answer2 = #{answer2}
        AND     answer3 = #{answer3}

        <if test='name != null and name != ""'>
            AND     name = #{name}
        </if>
        <if test='nickName != null and nickName != ""'>
            AND     nickname = #{nickName}
        </if>
        <if test='id != null and id != ""'>
            AND     id = #{id}
        </if>


    </select>

    <select id="nameCkMatchingUser" resultMap="MatchingUserResultMap">
        SELECT *
        FROM  kmatching_user
        WHERE   name = #{name}
        AND     nickname = #{nickName}
    </select>



</mapper>
