<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.aetherit.kfashion.ws.repository.mapper.KfashionEmailAuthorityMapper">
    <resultMap id="kfashionEmailAuthorityResultMap" type="KfashionEmailAuthority">
        <id property="userId"                       column="user_id" />
        <result property="authKey"             column="authKey" />
        <result property="expirationDatetime"                 column="expiration_datetime" />
        <result property="createdDatetime"                 column="created_datetime" />
        <result property="authorityDatetime"            column="authority_datetime" />
    </resultMap>

    <insert id="insertAuthkey" parameterType="KfashionEmailAuthority">
        INSERT
        INTO kfashion_email_authority (
        user_id,
        authkey,
        expiration_datetime,
        created_datetime
        ) VALUES (
        #{userId},
        #{authKey},
        NOW(),
        NOW()
        )
    </insert>

    <select id="selectCheckAuthMail" parameterType="KfashionEmailAuthority" resultType="String">
        SELECT user_id
        FROM kfashion_email_authority
        WHERE user_id=#{userId}
        AND authKey=#{authKey}
    </select>

    <update id="updateAuthority" parameterType="KfashionEmailAuthority">
       UPDATE kfashion_email_authority
       SET
       authority_datetime = NOW()
       WHERE user_id=#{userId}
       AND authKey=#{authKey}
    </update>



</mapper>
