<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.aetherit.kfashion.ws.repository.mapper.KfashionWorkHistoryMapper">
    <resultMap id="kfashionWorkHistoryResultMap" type="KfashionWorkHistory">
        <id property="workNo"                       column="work_no" />
        <result property="workStep"                 column="work_step" />
        <result property="workSubStep"                 column="work_sub_step" />
        <result property="createdId"                 column="created_id" />
        <result property="createdDatetime"          column="created_datetime" />
        <result property="updatedDatetime"          column="updated_datetime" />
        <result property="totalWork"          column="total_work" />
        <result property="finishWork"          column="finish_work" />
    </resultMap>

    <insert id="insertWorkHistory" parameterType="KfashionWorkHistory">
        INSERT
        INTO kfashion_work_history (
        work_no,
        work_step,
        created_id,
        created_datetime,
        updated_datetime
        ) VALUES (
        #{workNo},
        #{workStep},
        #{createdId},
        NOW(),
        NOW()
        )
    </insert>

    <delete id="deleteWorkHistory" parameterType="KfashionImage">
        DELETE
        FROM kfashion_work_history
        WHERE work_no = #{workNo}
    </delete>

    <delete id="deleteLabelWorkHistory" parameterType="int">
        DELETE
        FROM kfashion_work_history
        WHERE work_no = #{workNo}
        AND work_step = #{workStep}
    </delete>

    <select id="selectWorkProgressRate" resultMap="kfashionWorkHistoryResultMap">
        SELECT created_id
             , COUNT(*) AS finish_work
            , (SELECT COUNT(*) FROM kfashion_work_history WHERE work_step = #{authorityNo}
                                                 AND created_id = #{createdId}) AS total_work
        FROM kfashion_work_history
        WHERE work_step = #{workStep}
        AND created_id=#{createdId}
    </select>

    <delete id="deleteAssignmentCancelWorkHistory" parameterType="KfashionWorkHistory">
        DELETE
        FROM kfashion_work_history
        WHERE work_no =#{workNo}
        AND created_id = #{createdId}
        AND work_step = #{workStep};
    </delete>

    <select id="selectReceiveId" resultType="String">
        SELECT created_id
        FROM kfashion_work_history
        WHERE work_no =#{workNo}
        AND work_step = 2
    </select>
</mapper>
