<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.aetherit.kfashion.ws.repository.mapper.KfashionImageLocationRectMapper">
    <resultMap id="kfashionImageLocationRectResultMap" type="KfashionImageLocationRect">
        <id property="workNo"                        column="work_no" />
        <result property="workStep"                  column="work_step" />
        <result property="rectNo"                    column="rect_no" />
        <result property="locationX"                 column="location_x" />
        <result property="locationY"                 column="location_y" />
        <result property="locationWidth"             column="location_width" />
        <result property="locationHeight"            column="location_height" />
        <result property="scaleX"                    column="scale_x" />
        <result property="scaleY"                    column="scale_y" />
        <result property="createdDatetime"           column="created_datetime" />
        <result property="updatedDatetime"           column="updated_datetime" />
    </resultMap>


    <insert id="insertLocationRect" parameterType="KfashionImageLocationRect">
        INSERT
        INTO kfashion_image_location_rect (
        work_no,
        work_step,
        rect_no,
        location_x,
        location_y,
        location_width,
        location_height,
        scale_x,
        scale_y,
        created_datetime,
        updated_datetime
        ) VALUES(
        #{workNo},
        #{workStep},
        #{rectNo},
        #{locationX},
        #{locationY},
        #{locationWidth},
        #{locationHeight},
        #{scaleX},
        #{scaleY},
        NOW(),
        NOW()
        )
    </insert>

    <select id="selectLocationRectList" parameterType="KfashionImageLocationRect" resultMap="kfashionImageLocationRectResultMap" >
        SELECT
        *
        FROM kfashion_image_location_rect
        WHERE work_no = #{workNo}
        AND rect_no = #{rectNo}
    </select>

    <select id="selectRectNoList" parameterType="Long" resultMap="kfashionImageLocationRectResultMap">
        SELECT *
        FROM kfashion_image_location_rect
        WHERE work_no = #{workNo}
    </select>

    <delete id="deleteRect">
        DELETE
        FROM kfashion_image_location_rect
        WHERE work_no = #{workNo}
        AND rect_no = #{rectNo}
    </delete>

    <select id="selectRectNo" resultType="int">
        SELECT rect_no
        FROM kfashion_image_location_rect
        WHERE work_no = #{workNo}
    </select>

    <select id="selectOuterRectList" resultMap="kfashionImageLocationRectResultMap">
        SELECT *
        FROM kfashion_image_location_rect
        WHERE work_no = #{workNo}
        AND rect_no = 1
    </select>
    <select id="selectTopRectList" resultMap="kfashionImageLocationRectResultMap">
        SELECT *
        FROM kfashion_image_location_rect
        WHERE work_no = #{workNo}
        AND rect_no = 2
    </select>

    <select id="selectPantsRectList" resultMap="kfashionImageLocationRectResultMap">
        SELECT *
        FROM kfashion_image_location_rect
        WHERE work_no = #{workNo}
        AND rect_no = 3
    </select>

    <select id="selectOnePieceRectList" resultMap="kfashionImageLocationRectResultMap">
        SELECT *
        FROM kfashion_image_location_rect
        WHERE work_no = #{workNo}
        AND rect_no = 4
    </select>




</mapper>
