<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.aetherit.kfashion.ws.repository.mapper.KfashionImageLocationPolygonPointMapper">
    <resultMap id="kfashionImageLocationPolygonPointResultMap" type="KfashionImageLocationPolygonPoint">
        <id property="workNo"                       column="work_no" />
        <result property="workStep"                 column="work_step" />
        <result property="polyNo"                   column="poly_no" />
        <result property="no"                       column="no" />
        <result property="locationX"                column="location_x" />
        <result property="locationY"                column="location_y" />
        <result property="locationSeq"              column="location_seq" />
        <result property="createdId"                column="created_id" />
        <result property="createdDatetime"          column="created_datetime" />
        <result property="updatedDatetime"          column="updated_datetime" />
    </resultMap>


    <insert id="insertLocationPolygonPoint" parameterType="KfashionImageLocationPolygonPoint">
        INSERT
        INTO kfashion_image_location_polygon_point (
        work_no,
        work_step,
        poly_no,
        no,
        location_x,
        location_y,
        location_seq,
        created_datetime,
        updated_datetime
        )VALUES(
        #{workNo},
        #{workStep},
        #{polyNo},
        #{no},
        #{locationX},
        #{locationY},
        #{locationSeq},
        NOW(),
        NOW()
        )
    </insert>

    <select id="selectPolyNoList" parameterType="Long" resultMap="kfashionImageLocationPolygonPointResultMap">
        SELECT *
        FROM kfashion_image_location_polygon_point
        WHERE work_no =#{workNo}
    </select>

    <select id="selectLocationPolygonList" parameterType="KfashionImageLocationPolygonPoint" resultMap="kfashionImageLocationPolygonPointResultMap">
        SELECT *
        FROM kfashion_image_location_polygon_point
        WHERE work_no =#{workNo}
        AND poly_no =#{polyNo}
        AND no =#{no}
    </select>


    <select id="selectPolyNo" parameterType="Long" resultType="int">
        SELECT
        DISTINCT poly_no
        FROM kfashion_image_location_polygon_point
        WHERE work_no = #{workNo}
    </select>

</mapper>
