<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.aetherit.kfashion.ws.repository.mapper.KfashionBasicMapper">
    <resultMap id="KfashionBasicResultMap" type="KfashionBasic">
        <id property="basic_labeling_num"                       column="basic_labeling_num" />
        <result property="basic_category"             column="basic_category" />
        <result property="basic_color"                 column="basic_color" />
        <result property="basic_sleeve_length"                 column="basic_sleeve_length" />
        <result property="basic_clothing_length"            column="basic_clothing_length" />
        <result property="basic_print"      column="basic_print" />
        <result property="basic_brand"      column="basic_brand" />
        <result property="basic_gender"      column="basic_gender" />
        <result property="basic_create_id"      column="basic_create_id" />
        <result property="basic_create_date"      column="basic_create_date" />
        <result property="basic_modify_id"      column="basic_modify_id" />
        <result property="basic_modify_date"      column="basic_modify_date" />
    </resultMap>

    <insert id="kfashionBasicInsert" parameterType="KfashionBasic">
        insert into kfashion_basic (
         basic_category,
         basic_color,
         basic_sleeve_length,
         basic_clothing_length,
         basic_print,
         basic_brand,
         basic_gender,
         basic_create_id,
         basic_create_date
        ) values (
         #{basic_category},
         #{basic_color},
         #{basic_sleeve_length},
         #{basic_clothing_length},
         #{basic_print},
         #{basic_brand},
         #{basic_gender},
         #{basic_create_id},
         NOW()
        )
    </insert>

</mapper>
