<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.aetherit.kfashion.ws.repository.mapper.KfashionStudiesMapper">
    <resultMap id="KfashionStudiesResultMap" type="KfashionStudies">
        <id property="studies_labeling_num"                       column="studies_labeling_num" />
        <result property="studies_neckline"             column="studies_neckline" />
        <result property="studies_detail"                 column="studies_detail" />
        <result property="studies_sleeve_shape"                 column="studies_sleeve_shape" />
        <result property="studies_create_id"            column="studies_create_id" />
        <result property="studies_create_date"      column="studies_create_date" />
        <result property="studies_modify_id"      column="studies_modify_id" />
        <result property="studies_modify_date"      column="studies_modify_date" />
    </resultMap>

</mapper>
