<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.aetherit.kfashion.ws.repository.mapper.KfashionCategoryItemMapper">
    <resultMap id="kfashionCategoryItemResultMap" type="KfashionCategoryItem">
        <id property="no"                            column="no" />
        <result property="categoryNo"                column="category_no" />
        <result property="categoryType"                column="category_type" />
        <result property="categoryItemName"          column="category_item_name" />
        <result property="categoryItemMemo"          column="category_item_memo" />
        <result property="createdId"                 column="created_id" />
        <result property="updatedId"                 column="updated_id" />
        <result property="createdDatetime"           column="created_datetime" />
        <result property="updatedDatetime"           column="updated_datetime" />
    </resultMap>


    <select id="selectColorList1" resultMap="kfashionCategoryItemResultMap">
        SELECT *
        FROM kfashion_category_item
        WHERE category_no=2
        AND category_type=1
    </select>

    <select id="selectColorList2" resultMap="kfashionCategoryItemResultMap">
        SELECT *
        FROM kfashion_category_item
        WHERE category_no=12
        AND category_type=2
    </select>

    <select id="selectColorList3" resultMap="kfashionCategoryItemResultMap">
        SELECT *
        FROM kfashion_category_item
        WHERE category_no=22
        AND category_type=3
    </select>

    <select id="selectColorList4" resultMap="kfashionCategoryItemResultMap">
        SELECT *
        FROM kfashion_category_item
        WHERE category_no=29
        AND category_type=4
    </select>


    <select id="selectSleeveLengthList1" resultMap="kfashionCategoryItemResultMap">
        SELECT *
        from kfashion_category_item
        WHERE category_no=7
        AND category_type=1
    </select>

    <select id="selectSleeveLengthList2" resultMap="kfashionCategoryItemResultMap">
        SELECT *
        from kfashion_category_item
        WHERE category_no=17
        AND category_type=2
    </select>

    <select id="selectSleeveLengthList4" resultMap="kfashionCategoryItemResultMap">
        SELECT *
        from kfashion_category_item
        WHERE category_no=34
        AND category_type=4
    </select>


    <select id="selectStyleList" resultMap="kfashionCategoryItemResultMap">
        SELECT *
        FROM kfashion_category_item
        WHERE category_no=38
        AND category_type=0
    </select>

    <select id="selectCategoryList1" resultMap="kfashionCategoryItemResultMap">
        SELECT *
        FROM kfashion_category_item
        WHERE category_no=1
        AND category_type=1
    </select>

    <select id="selectCategoryList2" resultMap="kfashionCategoryItemResultMap">
        SELECT *
        FROM kfashion_category_item
        WHERE category_no=11
        AND category_type=2
    </select>

    <select id="selectCategoryList3" resultMap="kfashionCategoryItemResultMap">
        SELECT *
        FROM kfashion_category_item
        WHERE category_no=21
        AND category_type=3
    </select>

    <select id="selectCategoryList4" resultMap="kfashionCategoryItemResultMap">
        SELECT *
        FROM kfashion_category_item
        WHERE category_no=28
        AND category_type=4
    </select>


    <select id="selectDetailList1" resultMap="kfashionCategoryItemResultMap">
        SELECT *
        FROM kfashion_category_item
        WHERE category_no=3
        AND category_type=1
    </select>

    <select id="selectDetailList2" resultMap="kfashionCategoryItemResultMap">
        SELECT *
        FROM kfashion_category_item
        WHERE category_no=13
        AND category_type=2
    </select>

    <select id="selectDetailList3" resultMap="kfashionCategoryItemResultMap">
        SELECT *
        FROM kfashion_category_item
        WHERE category_no=23
        AND category_type=3
    </select>

    <select id="selectDetailList4" resultMap="kfashionCategoryItemResultMap">
        SELECT *
        FROM kfashion_category_item
        WHERE category_no=30
        AND category_type=4
    </select>

    <select id="selectPrintList1" resultMap="kfashionCategoryItemResultMap">
        SELECT *
        FROM kfashion_category_item
        WHERE category_no=4
        AND category_type=1
    </select>

    <select id="selectPrintList2" resultMap="kfashionCategoryItemResultMap">
        SELECT *
        FROM kfashion_category_item
        WHERE category_no=14
        AND category_type=2
    </select>

    <select id="selectPrintList3" resultMap="kfashionCategoryItemResultMap">
        SELECT *
        FROM kfashion_category_item
        WHERE category_no=24
        AND category_type=3
    </select>

    <select id="selectPrintList4" resultMap="kfashionCategoryItemResultMap">
        SELECT *
        FROM kfashion_category_item
        WHERE category_no=31
        AND category_type=4
    </select>


    <select id="selectTextureList1" resultMap="kfashionCategoryItemResultMap">
        SELECT *
        FROM kfashion_category_item
        WHERE category_no=5
        AND category_type=1
    </select>

    <select id="selectTextureList2" resultMap="kfashionCategoryItemResultMap">
        SELECT *
        FROM kfashion_category_item
        WHERE category_no=15
        AND category_type=2
    </select>

    <select id="selectTextureList3" resultMap="kfashionCategoryItemResultMap">
        SELECT *
        FROM kfashion_category_item
        WHERE category_no=25
        AND category_type=3
    </select>

    <select id="selectTextureList4" resultMap="kfashionCategoryItemResultMap">
        SELECT *
        FROM kfashion_category_item
        WHERE category_no=32
        AND category_type=4
    </select>


    <select id="selectLengthList1" resultMap="kfashionCategoryItemResultMap">
        SELECT *
        FROM kfashion_category_item
        WHERE category_no=6
        AND category_type=1
    </select>

    <select id="selectLengthList2" resultMap="kfashionCategoryItemResultMap">
        SELECT *
        FROM kfashion_category_item
        WHERE category_no=16
        AND category_type=2
    </select>

    <select id="selectLengthList3" resultMap="kfashionCategoryItemResultMap">
        SELECT *
        FROM kfashion_category_item
        WHERE category_no=26
        AND category_type=3
    </select>

    <select id="selectLengthList4" resultMap="kfashionCategoryItemResultMap">
        SELECT *
        FROM kfashion_category_item
        WHERE category_no=33
        AND category_type=4
    </select>


    <select id="selectNeckLineList1" resultMap="kfashionCategoryItemResultMap">
        SELECT *
        FROM kfashion_category_item
        WHERE category_no=8
        AND category_type=1
    </select>

    <select id="selectNeckLineList2" resultMap="kfashionCategoryItemResultMap">
        SELECT *
        FROM kfashion_category_item
        WHERE category_no=18
         AND category_type=2
    </select>

    <select id="selectNeckLineList4" resultMap="kfashionCategoryItemResultMap">
        SELECT *
        FROM kfashion_category_item
        WHERE category_no=35
        AND category_type=4
    </select>

    <select id="selectKaraList1" resultMap="kfashionCategoryItemResultMap">
        SELECT *
        FROM kfashion_category_item
        WHERE category_no=9
        AND category_type=1
    </select>

    <select id="selectKaraList2" resultMap="kfashionCategoryItemResultMap">
        SELECT *
        FROM kfashion_category_item
        WHERE category_no=19
        AND category_type=2
    </select>

    <select id="selectKaraList4" resultMap="kfashionCategoryItemResultMap">
        SELECT *
        FROM kfashion_category_item
        WHERE category_no=36
        AND category_type=4
    </select>

    <select id="selectFitList1" resultMap="kfashionCategoryItemResultMap">
        SELECT *
        FROM kfashion_category_item
        WHERE category_no=10
        AND category_type=1
    </select>

    <select id="selectFitList2" resultMap="kfashionCategoryItemResultMap">
        SELECT *
        FROM kfashion_category_item
        WHERE category_no=20
        AND category_type=2
    </select>

    <select id="selectFitList3" resultMap="kfashionCategoryItemResultMap">
        SELECT *
        FROM kfashion_category_item
        WHERE category_no=27
        AND category_type=3
    </select>

    <select id="selectFitList4" resultMap="kfashionCategoryItemResultMap">
         SELECT *
        FROM kfashion_category_item
        WHERE category_no=37
        AND category_type=4
    </select>


</mapper>
