<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.aetherit.kfashion.ws.repository.mapper.KfashionImageMapper">
    <resultMap id="kfashionImageResultMap" type="KfashionImage">
        <id property="workNo"                   column="work_no" />
        <result property="imgData"              column="img_data" />
        <result property="workName"             column="work_name" />
        <result property="fileName"             column="file_name" />
        <result property="createdId"            column="created_id" />
        <result property="createdDatetime"      column="created_datetime" />
        <result property="updatedDatetime"      column="updated_datetime" />
    </resultMap>

    <insert id="insertImgUpload" parameterType="KfashionImage">
     INSERT
     INTO kfashion_image (
     work_no,
     img_data,
     created_datetime,
     updated_datetime
     ) VALUES (
     #{workNo},
     #{imgData},
      NOW(),
      NOW()
      )
    </insert>

    <select id="selectBoundaryList" resultMap="kfashionImageResultMap" parameterType="String">
        SELECT DISTINCT
            kfashion_image.work_no,
            kfashion_work.work_name,
            CONCAT('/api/v1/kfashion/img/getByteImage?workNo=',kfashion_work.no) file_name,
            kfashion_work.created_datetime,
            kfashion_work_history.created_id
        FROM kfashion_image
                 INNER JOIN kfashion_work_history ON kfashion_image.work_no = kfashion_work_history.work_no
                 INNER JOIN kfashion_work ON kfashion_image.work_no = kfashion_work.no
        WHERE kfashion_work.work_state = 1
        AND kfashion_work_history.work_step = 1
        ORDER BY kfashion_image.work_no DESC
    </select>

    <select id="selectRectList" resultMap="kfashionImageResultMap">
        SELECT DISTINCT
        kfashion_image.work_no,
        kfashion_work.work_name,
        CONCAT('/api/v1/kfashion/img/getByteImage?workNo=',kfashion_work.no) file_name,
        kfashion_work.created_datetime,
        kfashion_work_history.created_id,
        kfashion_comment.comment,
        IF(kfashion_comment.complete = 'Y', 'Y' , 'N') AS complete
        FROM kfashion_image
        INNER JOIN kfashion_work_history ON kfashion_image.work_no = kfashion_work_history.work_no
        INNER JOIN kfashion_work ON kfashion_image.work_no = kfashion_work.no
        LEFT OUTER JOIN kfashion_comment ON(kfashion_image.work_no = kfashion_comment.work_no AND kfashion_comment.work_step =3)
        WHERE kfashion_work_history.created_id = #{createdId}
        AND kfashion_work_history.work_step = 2
        AND kfashion_work_history.work_no NOT IN(SELECT kfashion_work_history.work_no
                                           FROM kfashion_work_history
                                           WHERE kfashion_work_history.work_step = 3
                                            AND kfashion_work_history.work_no NOT IN (SELECT kfashion_comment.work_no
                                                                                      FROM kfashion_comment
                                                                                      WHERE kfashion_comment.work_step = 3
                                                                                      AND kfashion_comment.complete NOT IN ('Y')))
        <if test="keyword != null and keyword != '' ">
            AND kfashion_work.work_name LIKE CONCAT('%', #{keyword}, '%')
        </if>
        HAVING complete = 'N'
        ORDER BY kfashion_comment.comment DESC, work_no DESC
        LIMIT #{pageSize}
        OFFSET #{startPage}
    </select>

    <select id="selectRectListTotal" resultType="Long">
        SELECT DISTINCT
        count(kfashion_image.work_no) AS totalCount
        FROM kfashion_image
        INNER JOIN kfashion_work_history ON kfashion_image.work_no = kfashion_work_history.work_no
        INNER JOIN kfashion_work ON kfashion_image.work_no = kfashion_work.no
        LEFT OUTER JOIN kfashion_comment ON(kfashion_image.work_no = kfashion_comment.work_no AND kfashion_comment.work_step =3)
        WHERE kfashion_work_history.created_id = #{createdId}
        AND kfashion_work_history.work_step = 2
        AND kfashion_work_history.work_no NOT IN(SELECT kfashion_work_history.work_no
                                           FROM kfashion_work_history
                                           WHERE kfashion_work_history.work_step = 3
                                            AND kfashion_work_history.work_no NOT IN (SELECT kfashion_comment.work_no
                                                                                      FROM kfashion_comment
                                                                                      WHERE kfashion_comment.work_step = 3
                                                                                      AND kfashion_comment.complete NOT IN ('Y')))
        <if test="keyword != null and keyword != '' ">
            AND kfashion_work.work_name LIKE CONCAT('%', #{keyword}, '%')
        </if>
    </select>

    <select id="selectPolygonList" resultMap="kfashionImageResultMap">
        SELECT DISTINCT
        kfashion_image.work_no,
        kfashion_work.work_name,
        CONCAT('/api/v1/kfashion/img/getByteImage?workNo=',kfashion_work.no) file_name,
        kfashion_work.created_datetime,
        kfashion_work_history.created_id,
        kfashion_comment.comment,
        IF(kfashion_comment.complete = 'Y', 'Y' , 'N') AS complete
        FROM kfashion_image
        INNER JOIN kfashion_work_history ON kfashion_image.work_no = kfashion_work_history.work_no
        INNER JOIN kfashion_work ON kfashion_image.work_no = kfashion_work.no
        LEFT OUTER JOIN kfashion_comment ON(kfashion_image.work_no = kfashion_comment.work_no AND kfashion_comment.work_step =4)
        WHERE kfashion_work_history.created_id = #{createdId}
        AND kfashion_work_history.work_step = 3
        AND kfashion_work_history.work_no NOT IN(SELECT kfashion_work_history.work_no
                                                    FROM kfashion_work_history
                                                    WHERE kfashion_work_history.work_step = 4
                                                    AND kfashion_work_history.work_no NOT IN (SELECT kfashion_comment.work_no
                                                                                      FROM kfashion_comment
                                                                                      WHERE kfashion_comment.work_step = 4
                                                                                      AND kfashion_comment.complete NOT IN ('Y')))
        <if test="keyword != null and keyword != '' ">
            AND kfashion_work.work_name LIKE CONCAT('%', #{keyword}, '%')
        </if>
        HAVING complete = 'N'
        ORDER BY kfashion_comment.comment DESC, work_no DESC
        LIMIT #{pageSize}
        OFFSET #{startPage}
    </select>

    <select id="selectPolygonListTotal" resultType="Long">
        SELECT DISTINCT
        count(kfashion_image.work_no) AS totalCount
        FROM kfashion_image
        INNER JOIN kfashion_work_history ON kfashion_image.work_no = kfashion_work_history.work_no
        INNER JOIN kfashion_work ON kfashion_image.work_no = kfashion_work.no
        LEFT OUTER JOIN kfashion_comment ON(kfashion_image.work_no = kfashion_comment.work_no AND kfashion_comment.work_step =4)
        WHERE kfashion_work_history.created_id = #{createdId}
        AND kfashion_work_history.work_step = 3
        AND kfashion_work_history.work_no NOT IN(SELECT kfashion_work_history.work_no
                                                    FROM kfashion_work_history
                                                    WHERE kfashion_work_history.work_step = 4
                                                    AND kfashion_work_history.work_no NOT IN (SELECT kfashion_comment.work_no
                                                                                      FROM kfashion_comment
                                                                                      WHERE kfashion_comment.work_step = 4
                                                                                      AND kfashion_comment.complete NOT IN ('Y')))
        <if test="keyword != null and keyword != '' ">
            AND kfashion_work.work_name LIKE CONCAT('%', #{keyword}, '%')
        </if>
    </select>


    <select id="getByteImage" parameterType="Long" resultType="java.util.Map">
        SELECT img_data
        FROM kfashion_image
        WHERE work_no = #{workNo}
    </select>

    <delete id="deleteImage" parameterType="KfashionImage">
        DELETE
        FROM kfashion_image
        WHERE work_no=#{workNo}
    </delete>

    <select id="selectProfessionalList" resultMap="kfashionImageResultMap">
        SELECT DISTINCT
        kfashion_image.work_no,
        kfashion_work.work_name,
        CONCAT('/api/v1/kfashion/img/getByteImage?workNo=',kfashion_work.no) file_name,
        kfashion_work.created_datetime,
        kfashion_work_history.created_id
        FROM kfashion_image
        INNER JOIN kfashion_work_history ON kfashion_image.work_no = kfashion_work_history.work_no
        INNER JOIN kfashion_work ON kfashion_image.work_no = kfashion_work.no
        WHERE kfashion_work_history.work_step = 5
        AND kfashion_work_history.work_no NOT IN(SELECT kfashion_work_history.work_no
                                                    FROM kfashion_work_history
                                                    WHERE kfashion_work_history.work_step = 6)
        <if test="keyword != null and keyword != '' ">
            AND kfashion_work.work_name LIKE CONCAT('%', #{keyword}, '%')
        </if>
        AND kfashion_work_history.created_id = #{createdId}
        ORDER BY kfashion_image.work_no DESC
        LIMIT #{pageSize}
        OFFSET #{startPage}
    </select>
    
    <select id="selectProfessionalListTotal" resultType="Long">
        SELECT DISTINCT
            count(kfashion_image.work_no) AS totalCount
        FROM kfashion_image
            INNER JOIN kfashion_work_history ON kfashion_image.work_no = kfashion_work_history.work_no
            INNER JOIN kfashion_work ON kfashion_image.work_no = kfashion_work.no
        WHERE kfashion_work_history.work_step = 5
        AND kfashion_work_history.work_no NOT IN(SELECT kfashion_work_history.work_no
                                                    FROM kfashion_work_history
                                                    WHERE kfashion_work_history.work_step = 6)
        <if test="keyword != null and keyword != '' ">
            AND kfashion_work.work_name LIKE CONCAT('%', #{keyword}, '%')
        </if>
        AND kfashion_work_history.created_id = #{createdId}
    </select>


    <select id="selectInspectionList" resultMap="kfashionImageResultMap">
         SELECT DISTINCT
            kfashion_work_history.work_no,
            kfashion_work.work_name,
            CONCAT('/api/v1/kfashion/img/getByteImage?workNo=',kfashion_work.no) file_name,
            kfashion_work_history.created_datetime,
            kfashion_work_history.created_id
         FROM kfashion_image
             INNER JOIN kfashion_work_history ON kfashion_image.work_no = kfashion_work_history.work_no
             INNER JOIN kfashion_work ON kfashion_image.work_no = kfashion_work.no
        WHERE kfashion_work_history.work_step = 6
        AND kfashion_work_history.work_no NOT IN(SELECT kfashion_work_history.work_no
                                                FROM kfashion_work_history
                                                WHERE kfashion_work_history.work_step = 8)
        <if test="keyword != null and keyword != '' ">
            AND kfashion_work.work_name LIKE CONCAT('%', #{keyword}, '%')
        </if>
        AND kfashion_work_history.created_id = #{createdId}
            LIMIT #{pageSize}
            OFFSET #{startPage}
    </select>

    <select id="selectInspectionListTotal" resultType="Long">
    SELECT DISTINCT
          count(kfashion_work_history.work_no) AS totalCount
    FROM kfashion_image
         INNER JOIN kfashion_work_history ON kfashion_image.work_no = kfashion_work_history.work_no
         INNER JOIN kfashion_work ON kfashion_image.work_no = kfashion_work.no
        WHERE kfashion_work_history.work_step = 6
        AND kfashion_work_history.work_no NOT IN(SELECT kfashion_work_history.work_no
                                                FROM kfashion_work_history
                                                WHERE kfashion_work_history.work_step = 8)
        <if test="keyword != null and keyword != '' ">
            AND kfashion_work.work_name LIKE CONCAT('%', #{keyword}, '%')
        </if>
        AND kfashion_work_history.created_id =#{createdId}
    </select>

    <select id="selectProfessionalInspectionList" resultMap="kfashionImageResultMap">
        SELECT DISTINCT
            kfashion_work_history.work_no,
            kfashion_work.work_name,
            CONCAT('/api/v1/kfashion/img/getByteImage?workNo=',kfashion_work.no) file_name,
            kfashion_work_history.created_datetime,
            kfashion_work_history.created_id
         FROM kfashion_image
             INNER JOIN kfashion_work_history ON kfashion_image.work_no = kfashion_work_history.work_no
             INNER JOIN kfashion_work ON kfashion_image.work_no = kfashion_work.no
        WHERE kfashion_work_history.work_no NOT IN(SELECT kfashion_work_history.work_no
                                                FROM kfashion_work_history
                                                WHERE kfashion_work_history.work_step = 8)
        <if test="keyword != null and keyword != '' ">
            AND kfashion_work.work_name LIKE CONCAT('%', #{keyword}, '%')
        </if>
        AND kfashion_work_history.work_step = 6
            LIMIT #{pageSize}
            OFFSET #{startPage}

    </select>

    <select id="selectProfessionalInspectionListTotal" resultType="Long">
        SELECT DISTINCT
          count(kfashion_work_history.work_no) AS totalCount
    FROM kfashion_image
         INNER JOIN kfashion_work_history ON kfashion_image.work_no = kfashion_work_history.work_no
         INNER JOIN kfashion_work ON kfashion_image.work_no = kfashion_work.no
        WHERE kfashion_work_history.work_no NOT IN(SELECT kfashion_work_history.work_no
                                                FROM kfashion_work_history
                                                WHERE kfashion_work_history.work_step = 8)
        <if test="keyword != null and keyword != '' ">
            AND kfashion_work.work_name LIKE CONCAT('%', #{keyword}, '%')
        </if>
        AND kfashion_work_history.work_step = 6
    </select>


    <select id="selectInspectionHighList" resultMap="kfashionImageResultMap">
       SELECT
            DISTINCT
            kfashion_work.no AS work_no,
            kfashion_work.work_name,
            CONCAT('/api/v1/kfashion/img/getByteImage?workNo=',kfashion_work.no) file_name,
            kfashion_work_history.created_id,
            kfashion_work.created_datetime
        FROM kfashion_work
            INNER JOIN kfashion_work_history ON kfashion_work.no = kfashion_work_history.work_no
        WHERE kfashion_work.no IN
        <foreach collection="HistoryWorkNo" item="HistoryWorkNo" index="index" separator="," open="(" close=")">
            (#{HistoryWorkNo})
        </foreach>
        AND kfashion_work_history.work_step = 4
        <if test="keyword != null and keyword != '' ">
            AND kfashion_work.work_name LIKE CONCAT('%', #{keyword}, '%')
        </if>
        LIMIT #{pageSize}
        OFFSET #{startPage}
    </select>

    <select id="selectInspectionHighListTotal" resultType="Long">
        SELECT DISTINCT
        count(kfashion_work.no) AS totalCount
        FROM kfashion_work
        WHERE kfashion_work.no IN
        <foreach collection="HistoryWorkNo" item="HistoryWorkNo" index="index" separator="," open="(" close=")">
            (#{HistoryWorkNo})
        </foreach>
        <if test="keyword != null and keyword != '' ">
            AND kfashion_work.work_name LIKE CONCAT('%', #{keyword}, '%')
        </if>
    </select>

    <select id="recentlyImg" resultMap="kfashionImageResultMap" >
        SELECT DISTINCT
            kfashion_image.work_no,
            kfashion_work.work_name,
            CONCAT('/api/v1/kfashion/img/getByteImage?workNo=',kfashion_work.no) file_name,
            kfashion_work_history.created_id,
            kfashion_work_history.updated_datetime
        FROM kfashion_image
            INNER JOIN kfashion_work_history ON kfashion_image.work_no = kfashion_work_history.work_no
            INNER JOIN kfashion_work ON kfashion_image.work_no = kfashion_work.no
        WHERE kfashion_work_history.work_step = 6 And  kfashion_work_history.created_id = #{created_Id}
        ORDER BY kfashion_work_history.updated_datetime DESC LIMIT 5
    </select>
    
    <select id="selectTotalCount" resultType="int">
        SELECT DISTINCT
            COUNT(kfashion_work_history.work_no)AS totalCount
        FROM kfashion_image
                 INNER JOIN kfashion_work_history ON kfashion_image.work_no = kfashion_work_history.work_no
        WHERE kfashion_work_history.created_id =  #{createdId}
          AND kfashion_work_history.work_step = 5
          AND kfashion_work_history.work_no NOT IN(SELECT kfashion_work_history.work_no
                                                   FROM kfashion_work_history
                                                   WHERE kfashion_work_history.work_step = 6)
    </select>

    <select id="selectSuccessList" resultMap="kfashionImageResultMap">
        SELECT
            DISTINCT
            kfashion_work.no AS work_no,
            kfashion_work.work_name,
            CONCAT('/api/v1/kfashion/img/getByteImage?workNo=',kfashion_work.no) file_name,
            kfashion_work.created_datetime,
            kfashion_work_history.created_id
        FROM kfashion_work
            INNER JOIN kfashion_work_history ON kfashion_work.no = kfashion_work_history.work_no
        WHERE kfashion_work.work_state = 7
        <if test="keyword != null and keyword != '' ">
            AND kfashion_work.work_name LIKE CONCAT('%', #{keyword}, '%')
        </if>
        AND kfashion_work_history.work_step = 8
        LIMIT #{pageSize}
        OFFSET #{startPage}
    </select>

    <select id="selectSuccessListTotal" resultType="Long">
        SELECT
            DISTINCT
        count(kfashion_work.no) AS totalCount
        FROM kfashion_work
            INNER JOIN kfashion_work_history ON kfashion_work.no = kfashion_work_history.work_no
        WHERE kfashion_work.work_state = 7
        <if test="keyword != null and keyword != '' ">
            AND kfashion_work.work_name LIKE CONCAT('%', #{keyword}, '%')
        </if>
        AND kfashion_work_history.work_step = 8
    </select>

</mapper>