<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.aetherit.kfashion.ws.repository.mapper.KfashionUserGroupMapper">
    <resultMap id="kfashionUserGroupResultMap" type="KfashionUserGroup">
        <id property="no"                          column="no" />
        <result property="groupName"               column="group_name" />
        <result property="authorityNo"             column="authority_no" />
        <result property="authorityName"           column="authority_name" />
        <result property="createdDatetime"         column="created_datetime" />
        <result property="updatedDatetime"         column="updated_datetime" />
    </resultMap>

    
    <insert id="createUserGroup" parameterType="KfashionUserGroup">
        INSERT
        INTO kfashion_user_group (
            group_name,
            created_datetime,
            updated_datetime
            ) VALUES (
            #{groupName},
            NOW(),
            NOW()
        )
    </insert>

    <select id="selectGroupList" resultMap="kfashionUserGroupResultMap">
        SELECT
        a.no ,
        a.group_name ,
        b.authority_name ,
        b.no authority_no
        FROM kfashion_user_group a, kfashion_user_authority b
        ORDER BY no
    </select>

    <select id="selectGroupNo" resultType="int" parameterType="KfashionUserGroup">
        SELECT no
        FROM kfashion_user_group
        WHERE group_name=#{groupName}
    </select>



</mapper>
