<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.aetherit.kfashion.ws.repository.mapper.KfashionProfessionalMapper">
    <resultMap id="kfashionProfessionalResultMap" type="KfashionProfessional">
        <id property="professional_labeling_num"                       column="professional_labeling_num" />
        <result property="professional_item"             column="professional_item" />
        <result property="professional_style"                 column="professional_style" />
        <result property="professional_material"                 column="professional_material" />
        <result property="professional_shape"            column="professional_shape" />
        <result property="professional_color"      column="professional_color" />
        <result property="professional_pattern"      column="professional_pattern" />
        <result property="professional_create_id"      column="professional_create_id" />
        <result property="professional_create_date"      column="professional_create_date" />
        <result property="professional_modify_id"      column="professional_modify_id" />
        <result property="professional_modify_date"      column="professional_modify_date" />
    </resultMap>


    <insert id="kfashionProfessionalInsert" parameterType="KfashionProfessional">
        insert into kfashion_professional (
        professional_item,
        professional_style,
        professional_material,
        professional_shape,
        professional_color,
        professional_pattern,
        professional_create_id,
        professional_create_date
        )
        values (
        #{professional_item},
        #{professional_style},
        #{professional_material},
        #{professional_shape},
        #{professional_color},
        #{professional_pattern},
        #{professional_create_id},
        NOW()
        )
    </insert>



</mapper>
