<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.aetherit.kfashion.ws.repository.mapper.KfashionCommentMapper">
    <resultMap id="kfashionCommentResultMap" type="KfashionComment">
        <id property="workNo"                            column="work_no" />
        <result property="workStep"                      column="work_step" />
        <result property="workType"                      column="work_type" />
        <result property="commentNo"                     column="comment_no" />
        <result property="comment"                       column="comment" />
        <result property="complete"                      column="complete" />
        <result property="sendId"                        column="send_id" />
        <result property="receiveId"                     column="receive_id" />
        <result property="createdDatetime"               column="created_datetime" />
        <result property="updatedDatetime"               column="updated_datetime" />
    </resultMap>


<insert id="insertHighPolyComment">
        INSERT
        INTO kfashion_comment (
        work_no,
        work_step,
        work_type,
        comment_no,
        comment,
        send_id,
        receive_id,
        created_datetime,
        updated_datetime
        ) VALUES (
        #{workNo},
        #{workStep},
        #{workType},
        #{commentNo},
        #{comment},
        #{sendId},
        #{receiveId},
        NOW(),
        NOW()
        )
    </insert>

    <insert id="insertHighLabelComment">
        INSERT
        INTO kfashion_comment (
        work_no,
        work_step,
        comment_no,
        comment,
        send_id,
        receive_id,
        created_datetime,
        updated_datetime
        ) VALUES (
        #{workNo},
        #{workStep},
        #{commentNo},
        #{comment},
        #{sendId},
        #{receiveId},
        NOW(),
        NOW()
        )
    </insert>

    <select id="selectCommentNo" resultType="int">
        SELECT ifnull(MAX(comment_no+1), 1) AS comment_no
        FROM kfashion_comment
        WHERE work_no = #{workNo}
        AND work_step = #{workStep}
    </select>

    <update id="updateComment" >
        UPDATE kfashion_comment
        SET
        complete = 'Y'
        WHERE work_no =#{workNo}
        AND work_step = #{workStep}
    </update>

    <select id="selectWorkTypeList" resultType="int" parameterType="Long">
        SELECT work_type
        FROM kfashion_comment
        WHERE work_no = #{workNo}
        AND work_step = 3
        AND complete = 'N'
    </select>

    <update id="updatePolyComment">
        UPDATE kfashion_comment
        SET
        complete = 'Y'
        WHERE work_no =#{workNo}
        AND work_step = #{workStep}
        AND work_type = #{workType}
    </update>

    <select id="selectCommentWorkNoList" resultMap="kfashionCommentResultMap">
        SELECT DISTINCT
            kfashion_comment.work_no,
            count(kfashion_comment.work_no) AS count
        FROM kfashion_comment
        WHERE kfashion_comment.work_no NOT IN (
            SELECT kfashion_work_history.work_no
            FROM kfashion_work_history
                WHERE kfashion_work_history.work_step = 7)
            GROUP BY work_no
    </select>

    <select id="selectCommentComplete" resultMap="kfashionCommentResultMap">
        SELECT
           work_no,
           work_step,
           work_type,
           complete
        FROM kfashion_comment
        WHERE work_no = #{workNo}
    </select>

    <delete id="deleteCommentAll">
        DELETE
        FROM kfashion_comment
        WHERE work_no = #{workNo}
    </delete>

</mapper>
