<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.aetherit.kfashion.ws.repository.mapper.KfashionImageMapper">
    <resultMap id="kfashionImageResultMap" type="KfashionImage">
        <id property="workNo"                       column="work_no" />
        <result property="imgData"             column="img_data" />
        <result property="workName"             column="work_name" />
        <result property="fileName"             column="file_name" />
        <result property="createdId"             column="created_id" />
        <result property="createdDatetime"      column="created_datetime" />
        <result property="updatedDatetime"      column="updated_datetime" />
    </resultMap>

    <insert id="insertImgUpload" parameterType="KfashionImage">
     INSERT
     INTO kfashion_image (
     work_no,
     img_data,
     created_datetime,
     updated_datetime
     ) VALUES (
     #{workNo},
     #{imgData},
      NOW(),
      NOW()
      )
    </insert>

    <select id="selectBoundaryList" resultMap="kfashionImageResultMap" parameterType="String">
        SELECT DISTINCT
        kfashion_image.work_no,
        SUBSTRING_INDEX(kfashion_work.work_name,'.',1) work_name,
        CONCAT('/api/v1/kfashion/img/getByteImage?workNo=',kfashion_work.no) file_name,
        kfashion_work.created_datetime,
        kfashion_work_history.created_id
        FROM kfashion_image
        LEFT JOIN kfashion_work_history ON kfashion_image.work_no = kfashion_work_history.work_no
        RIGHT JOIN kfashion_work ON kfashion_image.work_no = kfashion_work.no
        WHERE kfashion_work.work_state = 1
        ORDER BY kfashion_image.work_no DESC
    </select>

    <select id="selectRectList" resultMap="kfashionImageResultMap" parameterType="String">
        SELECT DISTINCT
        kfashion_image.work_no,
        SUBSTRING_INDEX(kfashion_work.work_name,'.',1) work_name,
        CONCAT('/api/v1/kfashion/img/getByteImage?workNo=',kfashion_work.no) file_name,
        kfashion_work.created_datetime,
        kfashion_work_history.created_id,
        kfashion_comment.comment,
        IF(kfashion_comment.complete = 'Y', 'Y' , 'N') AS complete
        FROM kfashion_image
        INNER JOIN kfashion_work_history ON kfashion_image.work_no = kfashion_work_history.work_no
        INNER JOIN kfashion_work ON kfashion_image.work_no = kfashion_work.no
        LEFT OUTER JOIN kfashion_comment ON(kfashion_image.work_no = kfashion_comment.work_no AND kfashion_comment.work_step =3)
        WHERE kfashion_work_history.created_id = #{createdId}
        AND kfashion_work_history.work_step = 2
        AND kfashion_work_history.work_no NOT IN(SELECT kfashion_work_history.work_no
                                           FROM kfashion_work_history
                                           WHERE kfashion_work_history.work_step = 3
                                            AND kfashion_work_history.work_no NOT IN (SELECT kfashion_comment.work_no
                                                                                      FROM kfashion_comment
                                                                                      WHERE kfashion_comment.work_step = 3
                                                                                      AND kfashion_comment.complete NOT IN ('Y')))
        HAVING complete = 'N'
        ORDER BY kfashion_comment.comment DESC
    </select>

    <select id="selectPolygonList" resultMap="kfashionImageResultMap" parameterType="String">
        SELECT DISTINCT
        kfashion_image.work_no,
        SUBSTRING_INDEX(kfashion_work.work_name,'.',1) work_name,
        CONCAT('/api/v1/kfashion/img/getByteImage?workNo=',kfashion_work.no) file_name,
        kfashion_work.created_datetime,
        kfashion_work_history.created_id,
        kfashion_comment.comment,
        IF(kfashion_comment.complete = 'Y', 'Y' , 'N') AS complete
        FROM kfashion_image
        INNER JOIN kfashion_work_history ON kfashion_image.work_no = kfashion_work_history.work_no
        INNER JOIN kfashion_work ON kfashion_image.work_no = kfashion_work.no
        LEFT OUTER JOIN kfashion_comment ON(kfashion_image.work_no = kfashion_comment.work_no AND kfashion_comment.work_step =4)
        WHERE kfashion_work_history.created_id = #{createdId}
        AND kfashion_work_history.work_step = 3
        AND kfashion_work_history.work_no NOT IN(SELECT kfashion_work_history.work_no
                                                    FROM kfashion_work_history
                                                    WHERE kfashion_work_history.work_step = 4
                                                    AND kfashion_work_history.work_no NOT IN (SELECT kfashion_comment.work_no
                                                                                      FROM kfashion_comment
                                                                                      WHERE kfashion_comment.work_step = 4
                                                                                      AND kfashion_comment.complete NOT IN ('Y')))
        HAVING complete = 'N'
        ORDER BY kfashion_comment.comment DESC
    </select>

    <select id="getByteImage" parameterType="Long" resultType="java.util.Map">
        SELECT img_data
        FROM kfashion_image
        WHERE work_no = #{workNo}
    </select>

    <delete id="deleteImage" parameterType="KfashionImage">
        DELETE
        FROM kfashion_image
        WHERE work_no=#{workNo}
    </delete>

    <select id="selectProfessionalList" resultMap="kfashionImageResultMap" parameterType="String">
        SELECT DISTINCT
        kfashion_image.work_no,
        SUBSTRING_INDEX(kfashion_work.work_name,'.',1) work_name,
        CONCAT('/api/v1/kfashion/img/getByteImage?workNo=',kfashion_work.no) file_name,
        kfashion_work.created_datetime,
        kfashion_work_history.created_id
        FROM kfashion_image
        INNER JOIN kfashion_work_history ON kfashion_image.work_no = kfashion_work_history.work_no
        INNER JOIN kfashion_work ON kfashion_image.work_no = kfashion_work.no
        WHERE kfashion_work_history.created_id = #{createdId}
        AND kfashion_work_history.work_step = 5
        AND kfashion_work_history.work_no NOT IN(SELECT kfashion_work_history.work_no
                                                    FROM kfashion_work_history
                                                    WHERE kfashion_work_history.work_step = 6)
        ORDER BY kfashion_image.work_no DESC
    </select>


    <select id="selectInspectionList" resultMap="kfashionImageResultMap">
         SELECT DISTINCT
            kfashion_image.work_no,
            SUBSTRING_INDEX(kfashion_work.work_name,'.',1) work_name,
            CONCAT('/api/v1/kfashion/img/getByteImage?workNo=',kfashion_work.no) file_name,
            kfashion_work_history.created_datetime,
            (select kfashion_work_history.created_id from kfashion_work_history where kfashion_image.work_no = kfashion_work_history.work_no and  kfashion_work_history.work_step = 6) as created_id
         FROM kfashion_image
             INNER JOIN kfashion_work_history ON kfashion_image.work_no = kfashion_work_history.work_no
             INNER JOIN kfashion_work ON kfashion_image.work_no = kfashion_work.no
         WHERE kfashion_work_history.work_step = 6
         AND kfashion_work_history.work_no NOT IN(SELECT kfashion_work_history.work_no
                                           FROM kfashion_work_history
                                           WHERE kfashion_work_history.work_step = 8)
         GROUP BY kfashion_image.work_no
    </select>

    <select id="selectInspectionHighList" resultMap="kfashionImageResultMap">
        SELECT DISTINCT
            kfashion_image.work_no,
            SUBSTRING_INDEX(kfashion_work.work_name,'.',1) work_name,
            CONCAT('/api/v1/kfashion/img/getByteImage?workNo=',kfashion_work.no) file_name,
            kfashion_work_history.created_datetime
         FROM kfashion_image
             INNER JOIN kfashion_work_history ON kfashion_image.work_no = kfashion_work_history.work_no
             INNER JOIN kfashion_work ON kfashion_image.work_no = kfashion_work.no
             LEFT JOIN kfashion_comment ON kfashion_image.work_no = kfashion_comment.work_no
         WHERE kfashion_work_history.work_step = 4
         AND kfashion_image.work_no NOT IN (SELECT work_no
                                            FROM kfashion_comment
                                            WHERE complete = 'N')
         AND kfashion_work_history.work_no NOT IN(SELECT kfashion_work_history.work_no
                                           FROM kfashion_work_history
                                           WHERE kfashion_work_history.work_step = 7)
         ORDER BY kfashion_image.work_no
    </select>
    <select id="recentlyImg" resultMap="kfashionImageResultMap" >
        SELECT DISTINCT
            kfashion_image.work_no,
            SUBSTRING_INDEX(kfashion_work.work_name,'.',1) work_name,
            CONCAT('/api/v1/kfashion/img/getByteImage?workNo=',kfashion_work.no) file_name,
            kfashion_work_history.created_id,
            kfashion_work_history.updated_datetime
        FROM kfashion_image
            INNER JOIN kfashion_work_history ON kfashion_image.work_no = kfashion_work_history.work_no
            INNER JOIN kfashion_work ON kfashion_image.work_no = kfashion_work.no
        WHERE kfashion_work_history.work_step = 6 And  kfashion_work_history.created_id = #{created_Id}
        ORDER BY kfashion_work_history.updated_datetime DESC LIMIT 5
    </select>

</mapper>