<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.aetherit.kfashion.ws.repository.mapper.KfashionLabelMapper">
    <resultMap id="kfashionLabelResultMap" type="KfashionLabel">
        <id property="workNo"                       column="work_no" />
        <result property="workStep"                 column="work_step" />
        <result property="labelNo"                  column="label_no" />
        <result property="no"                       column="no" />
        <result property="categoryNo"               column="category_no" />
        <result property="categoryItemNo"           column="category_item_no" />
        <result property="categoryName"           column="category_name" />
        <result property="categoryItemName"           column="category_item_name" />
        <result property="categoryItemMemo"           column="category_item_memo" />
        <result property="createdId"                column="created_id" />
        <result property="createdDatetime"          column="created_datetime" />
        <result property="updatedDatetime"          column="updated_datetime" />
    </resultMap>

    <insert id="insertBasicLabel" parameterType="KfashionLabel">
        INSERT
        INTO kfashion_label (
        work_no,
        work_step,
        label_no,
        no,
        category_no,
        category_item_no,
        created_id,
        created_datetime,
        updated_datetime
        ) VALUES (
        #{workNo},
        #{workStep},
        #{labelNo},
        #{no},
        #{categoryNo},
        #{categoryItemNo},
        #{createdId},
        NOW(),
        NOW()
        )
    </insert>

    <insert id="insertProfessionalLabel" parameterType="KfashionLabel">

        <selectKey keyProperty="no" resultType="int" order="BEFORE">
            SELECT (IFNULL(MAX(no),0)+1) AS no FROM kfashion_label WHERE work_no = #{workNo} AND work_step = #{workStep} AND label_no = #{labelNo}
        </selectKey>
        INSERT
        INTO kfashion_label (
        work_no,
        work_step,
        label_no,
        no,
        category_no,
        category_item_no,
        created_id,
        created_datetime,
        updated_datetime
        ) VALUES (
        #{workNo},
        #{workStep},
        #{labelNo},
        #{no},
        #{categoryNo},
        #{categoryItemNo},
        #{createdId},
        NOW(),
        NOW()
        )
    </insert>

    <select id="selectBasicLabelList" resultMap="kfashionLabelResultMap" parameterType="String">
        SELECT DISTINCT
        kfashion_image.work_no,
        kfashion_work.work_name,
        kfashion_work_history.created_id,
        kfashion_work_history.created_datetime
        FROM kfashion_image
        LEFT JOIN kfashion_work_history ON kfashion_image.work_no = kfashion_work_history.work_no
        RIGHT JOIN kfashion_work ON kfashion_image.work_no = kfashion_work.no
        WHERE kfashion_work_history.created_id = #{createdId}
        AND kfashion_work.work_state = 4
    </select>


    <select id="selectOuterReviewLabelList" resultMap="kfashionLabelResultMap" parameterType="Long">
        SELECT DISTINCT
            kfashion_label.category_item_no,
            kfashion_label.category_no,
            kfashion_category.category_name,
            kfashion_category_item.category_item_name
        FROM kfashion_label
                 LEFT JOIN kfashion_category ON kfashion_label.category_no = kfashion_category.no
                 RIGHT JOIN kfashion_category_item ON kfashion_label.category_item_no = kfashion_category_item.no
        WHERE work_no = #{workNo}
          AND kfashion_label.label_no=1
          AND kfashion_label.work_step=6
          ORDER BY kfashion_label.no
    </select>

    <select id="selectTopReviewLabelList" resultMap="kfashionLabelResultMap" parameterType="Long">
        SELECT DISTINCT
            kfashion_label.category_item_no,
            kfashion_label.category_no,
            kfashion_category.category_name,
            kfashion_category_item.category_item_name
        FROM kfashion_label
                 LEFT JOIN kfashion_category ON kfashion_label.category_no = kfashion_category.no
                 RIGHT JOIN kfashion_category_item ON kfashion_label.category_item_no = kfashion_category_item.no
        WHERE work_no = #{workNo}
          AND kfashion_label.label_no=2
          AND kfashion_label.work_step=6
          ORDER BY kfashion_label.no
    </select>
    <select id="selectPantsReviewLabelList" resultMap="kfashionLabelResultMap" parameterType="Long">
        SELECT DISTINCT
            kfashion_label.category_item_no,
            kfashion_label.category_no,
            kfashion_category.category_name,
            kfashion_category_item.category_item_name
        FROM kfashion_label
                 LEFT JOIN kfashion_category ON kfashion_label.category_no = kfashion_category.no
                 RIGHT JOIN kfashion_category_item ON kfashion_label.category_item_no = kfashion_category_item.no
        WHERE work_no = #{workNo}
          AND kfashion_label.label_no=3
          AND kfashion_label.work_step=6
          ORDER BY kfashion_label.no
    </select>

    <select id="selectOnePieceReviewLabelList" resultMap="kfashionLabelResultMap" parameterType="Long">
        SELECT DISTINCT
            kfashion_label.category_item_no,
            kfashion_label.category_no,
            kfashion_category.category_name,
            kfashion_category_item.category_item_name
        FROM kfashion_label
                 LEFT JOIN kfashion_category ON kfashion_label.category_no = kfashion_category.no
                 RIGHT JOIN kfashion_category_item ON kfashion_label.category_item_no = kfashion_category_item.no
        WHERE work_no = #{workNo}
          AND kfashion_label.label_no=4
          AND kfashion_label.work_step=6
          ORDER BY kfashion_label.no
    </select>

    <select id="selectLabelList" parameterType="Long" resultType="int">
        SELECT DISTINCT
            kfashion_label.label_no
        FROM kfashion_label
        WHERE work_no = #{workNo}
        AND work_step = 6
        ORDER BY kfashion_label.no DESC
    </select>

    <select id="selectHighLabelList" parameterType="Long" resultType="int">
        SELECT DISTINCT
            kfashion_label.label_no
        FROM kfashion_label
        WHERE work_no = #{workNo}
        AND work_step = 4
        ORDER BY kfashion_label.no DESC
    </select>

    <select id="selectOuterReviewHighLabelList" resultMap="kfashionLabelResultMap" parameterType="Long">
        SELECT DISTINCT
            kfashion_label.category_item_no,
            kfashion_label.category_no,
            kfashion_category.category_name,
            kfashion_category_item.category_item_name,
            kfashion_category_item.category_item_memo
        FROM kfashion_label
                 LEFT JOIN kfashion_category ON kfashion_label.category_no = kfashion_category.no
                 RIGHT JOIN kfashion_category_item ON kfashion_label.category_item_no = kfashion_category_item.no
        WHERE work_no = #{workNo}
          AND kfashion_label.label_no=1
          AND kfashion_label.work_step=4
          ORDER BY kfashion_label.no

    </select>
    <select id="selectTopReviewHighLabelList" resultMap="kfashionLabelResultMap" parameterType="Long">
        SELECT DISTINCT
            kfashion_label.category_item_no,
            kfashion_label.category_no,
            kfashion_category.category_name,
            kfashion_category_item.category_item_name,
            kfashion_category_item.category_item_memo
        FROM kfashion_label
                 LEFT JOIN kfashion_category ON kfashion_label.category_no = kfashion_category.no
                 RIGHT JOIN kfashion_category_item ON kfashion_label.category_item_no = kfashion_category_item.no
        WHERE work_no = #{workNo}
          AND kfashion_label.label_no=2
          AND kfashion_label.work_step=4
          ORDER BY kfashion_label.no

    </select>
    <select id="selectPantsReviewHighLabelList" resultMap="kfashionLabelResultMap" parameterType="Long">
        SELECT DISTINCT
            kfashion_label.category_item_no,
            kfashion_label.category_no,
            kfashion_category.category_name,
            kfashion_category_item.category_item_name,
            kfashion_category_item.category_item_memo
        FROM kfashion_label
                 LEFT JOIN kfashion_category ON kfashion_label.category_no = kfashion_category.no
                 RIGHT JOIN kfashion_category_item ON kfashion_label.category_item_no = kfashion_category_item.no
        WHERE work_no = #{workNo}
          AND kfashion_label.label_no=3
          AND kfashion_label.work_step=4
          ORDER BY kfashion_label.no


    </select>
    <select id="selectOnePieceReviewHighLabelList" resultMap="kfashionLabelResultMap" parameterType="Long">
        SELECT DISTINCT
            kfashion_label.category_item_no,
            kfashion_label.category_no,
            kfashion_category.category_name,
            kfashion_category_item.category_item_name,
            kfashion_category_item.category_item_memo
        FROM kfashion_label
                 LEFT JOIN kfashion_category ON kfashion_label.category_no = kfashion_category.no
                 RIGHT JOIN kfashion_category_item ON kfashion_label.category_item_no = kfashion_category_item.no
        WHERE work_no = #{workNo}
          AND kfashion_label.label_no=4
          AND kfashion_label.work_step=4
          ORDER BY kfashion_label.no
    </select>

    <select id="selectStyleReviewLabelList" resultMap="kfashionLabelResultMap" parameterType="Long">
        SELECT DISTINCT
            kfashion_label.category_item_no,
            kfashion_label.category_no,
            kfashion_category.category_name,
            kfashion_category_item.category_item_name
        FROM kfashion_label
                 LEFT JOIN kfashion_category ON kfashion_label.category_no = kfashion_category.no
                 RIGHT JOIN kfashion_category_item ON kfashion_label.category_item_no = kfashion_category_item.no
        WHERE work_no = #{workNo}
          AND kfashion_label.label_no=5
          AND kfashion_label.work_step=6
          ORDER BY kfashion_label.no
    </select>

    <delete id="deleteProfessionalLabel">
            DELETE
            FROM kfashion_label
            WHERE work_no = #{workNo}
            AND work_step = #{workStep}
    </delete>

    <delete id="deleteBasicLabel">
            DELETE
            FROM kfashion_label
            WHERE work_no = #{workNo}
            AND work_step = #{workStep}
    </delete>

    <select id="selectLabelNoList" resultType="int">
        SELECT DISTINCT label_no
        FROM kfashion_label
        WHERE work_no =#{workNo}
        AND work_step = 4
    </select>

</mapper>
