<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.aetherit.kfashion.ws.repository.mapper.KfashionWorkMapper">
    <resultMap id="kfashionWorkResultMap" type="KfashionWork">
        <id property="no"                            column="no" />
        <result property="workName"                  column="work_name" />
        <result property="workState"                 column="work_state" />
        <result property="createdDatetime"           column="created_datetime" />
        <result property="updatedDatetime"           column="updated_datetime" />
    </resultMap>

    <insert id="insertWork" parameterType="KfashionWork" useGeneratedKeys="true" keyProperty="no" keyColumn="no">
        INSERT
        INTO kfashion_work
        (
        work_name,
        work_state,
        created_datetime,
        updated_datetime
        ) VALUE(
        #{workName},
        1,
        NOW(),
        NOW()
        )
        <selectKey resultType="java.lang.Long" keyProperty="no" order="AFTER">
            SELECT LAST_INSERT_ID() AS no
        </selectKey>
    </insert>

    <update id="updateWork" parameterType="KfashionWork">
        UPDATE kfashion_work
        SET work_state=#{workState}
        WHERE no = #{no}
    </update>

    <select id="selectWorkNo" parameterType="String" resultType="Long">
        SELECT no
        FROM kfashion_work
        WHERE work_name=#{work_name}
    </select>

    <update id="updateWorkName" parameterType="KfashionWork">
        UPDATE kfashion_work
        SET work_name =#{workName}
        WHERE no = #{no}
    </update>

    <select id="selectFileExtension" parameterType="KfashionWork" resultType="String">
        SELECT
        work_name
        FROM kfashion_work
        WHERE no=#{no}
    </select>

    <delete id="deleteWork" parameterType="KfashionImage">
        DELETE
        FROM kfashion_work
        WHERE no=#{workNo}
    </delete>

    <select id="selectWorkAssignment" resultType="Long">
        SELECT work_no
        FROM kfashion_work_history
        WHERE work_step = #{currentNo}
        AND work_no NOT IN(SELECT work_no
						    FROM kfashion_work_history
							WHERE work_step = #{authorityNo})
        ORDER BY work_no ASC limit  #{workCount}
    </select>


    <select id="selectWorkQuantity" resultType="int">
          SELECT COUNT(*)
          FROM kfashion_work_history
          WHERE work_step =1
          AND work_no NOT IN(SELECT work_no
								  FROM kfashion_work_history
								  WHERE work_step = #{workState});
    </select>

    <select id="selectWorkUserCancelQuantity" resultType="int">
        SELECT COUNT(*)
        FROM kfashion_work_history
        WHERE work_step = #{workState}
          AND created_id = #{userId}
          AND work_no NOT IN(SELECT work_no
                              FROM kfashion_work_history
                              WHERE work_step = #{workStep})
    </select>

    <select id="selectWorkAssignmentCancel" resultType="Long">
        SELECT work_no
        FROM kfashion_work_history
        WHERE work_step = #{currentNo}
        AND created_id = #{workId}
        AND work_no NOT IN(SELECT work_no
						    FROM kfashion_work_history
							WHERE work_step = #{workStep})
        ORDER BY work_no ASC limit  #{workCount}
    </select>


    <select id="selectWorkName" resultType="String">
        SELECT
        work_name
        FROM kfashion_work
        WHERE no = #{workNo}
    </select>


    <select id="selectJsonWorkList" resultType="Long">
        SELECT no
        FROM kfashion_work
        INNER JOIN kfashion_work_history ON kfashion_work.no = kfashion_work_history.work_no
        WHERE kfashion_work_history.work_step = 6
        LIMIT 5000
    </select>

    <select id="selectTotalWork" resultType="Long">
        SELECT
        count(*) AS totalWork
        FROM kfashion_work
    </select>
</mapper>
