.App {
  text-align: center;
}
.checkbox1, .checkbox2, .checkbox3{
  position: relative;
  
}
input[type=checkbox] {
  display:none;
}

input[type=checkbox] + em{
  content: "";
  background: url("./images/Checkbox.png") no-repeat;
  height: 18px;
  width: 18px;
  display: inline-block;
  padding: 0;
  cursor: pointer;
  
 
}
.checkbox1 input[type=checkbox]:checked + em{
  background: url("./images/Checkbox1.png") no-repeat;
  height: 18px;
  width: 18px;
  display: inline-block;
  padding: 0;
  cursor: pointer;
 
}

.checkbox2 input[type=checkbox]:checked + em{
  background: url("./images/Checkbox2.png") no-repeat;
  height: 18px;
  width: 18px;
  display: inline-block;
  padding: 0;
  cursor: pointer;
 
}

.checkbox3 input[type=checkbox]:checked + em{
  background: url("./images/Checkbox3.png") no-repeat;
  height: 18px;
  width: 18px;
  display: inline-block;
  padding: 0;
  cursor: pointer;
 
}